.container-fluid {
    background-color: whitesmoke;
   margin: 0px !important;
    width: vh(100%);
    
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.col-6 {
    padding: 0px !important;
}
.headBtn{
    align-items: center !important;
    display: flex;
    justify-content: flex-end;
}
.historybtn{
    width: 100% !important;
    height: 4rem !important;
    border-radius: 0px;

}
.backToCalculatorbtn{
    background-color: whitesmoke;
    color: black;
    width: 100% ;
    height: 4rem;
    padding: 0 40px;
    border-radius: 0px;

}